@model ProfileViewModel

<div>
    <form>
        <div>
            <div class="inline">
                <label>Электронная почта пользователя</label>
            </div>
            <div class="inline">
                <p>@Model.CurrUserName.</p>
            </div>
        </div>
        <div>
            <div class="inline">
                <label>Номер телефона</label>
            </div>
            <div class="inline">
                <p>@Model.UserPhone</p>
            </div>
        </div>
        <div>
            <div class="inline">
                <label>Количество всех заявок</label>
            </div>
            <div class="inline">
                <p>@Model.AllRequests.Count()</p>
            </div>
        </div>
    </form>
</div>