@model CreateRequestViewModel

@Html.DropDownList("userid", ViewBag.Users as SelectList, new { @onchange = "selectChanged(this.value)" })
<p>
</p>
<form asp-controller="AddReq" asp-action="Index" method="post">
    <input type="submit" class="create-request-button" name="openmodal" value="selected" />
</form>

<script type="text/javascript">
    function selectChanged(value) {
        fetch(`GetSelectedValue?value=${value}`)
            .then(response => response.text())
    }
</script>



//.then(data => alert(data))
            //.catch(error => alert(error))