@*@{
    ViewData["Title"] = "Тарифы и информация";
}*@
<h1>@ViewData["Title"]</h1>

<nav class="tree-nav">
    <details class="tree-nav__item is-expandable">
        <summary class="tree-nav__item-title">Тарифы дополнительных услуг</summary>
        <div class="tree-nav__item">
            <a class="tar" href="https://clck.ru/VBCRT" target="_blank">Тарифы на дополнительные работы и услуги ПАО НМТП для каботажных грузов на 2021 год</a>
        </div>
        <div class="tree-nav__item">
            <a class="tar" href="https://clck.ru/VBCYv" target="_blank">Тарифы на дополнительные работы и услуги ПАО НМТП на 2021 год</a>
        </div>
        <div class="tree-nav__item">
            <a class="tar" href="https://clck.ru/VBCbX" target="_blank">Тарифы на погрузку, выгрузку и хранение каботажных грузов и правила их применения на 2021 год</a>
        </div>
        <div class="tree-nav__item">
            <a class="tar" href="https://clck.ru/VBCcG" target="_blank">Тарифы на погрузку, выгрузку, хранение экспортных, импортных и транзитных грузов и правила их применения на 2021 год</a>
        </div>
    </details>


    @*<nav class="tree-nav">

            <a class="tree-nav__item-title">
                <i class="icon ion-scissors"></i>
                THE INHERITANCE
            </a>
            <a class="tree-nav__item-title">
                <i class="icon ion-android-star"></i>
                The Willful Princess and the Piebald Prince
            </a>

            <details class="tree-nav__item is-expandable">
                <summary class="tree-nav__item-title">The Realm of the Elderlings</summary>
                <details class="tree-nav__item is-expandable">

                    <summary class="tree-nav__item-title">The Six Duchies</summary>
                    <details class="tree-nav__item is-expandable">
                        <summary class="tree-nav__item-title">The Farseer Trilogy</summary>
                        <div class="tree-nav__item">
                            <table style="width:100%">
                                <tr>
                                    <th>IP Address</th>
                                    <th>Object Name</th>
                                    <th>Domain Name</th>
                                    <th>Object Class</th>
                                    <th>Status</th>
                                    <th>Mac Address</th>
                                </tr>
                                <tr>
                                    <td>Jill</td>
                                    <td>Smith</td>
                                    <td>50</td>
                                </tr>
                                <tr>
                                    <td>Eve</td>
                                    <td>Jackson</td>
                                    <td>94</td>
                                </tr>
                                <tr>
                                    <td>John</td>
                                    <td>Doe</td>
                                    <td>80</td>
                                </tr>
                            </table>
                        </div>
                    </details>

                    <details class="tree-nav__item is-expandable">
                        <summary class="tree-nav__item-title">The Tawny Man Trilogy</summary>
                        <div class="tree-nav__item">
                            <a class="tree-nav__item-title"><i class="icon ion-cube"></i> FOOL'S ERRAND</a>
                            <a class="tree-nav__item-title"><i class="icon ion-ios-book"></i> GOLDEN FOOL</a>
                            <a class="tree-nav__item-title"><i class="icon ion-ios-bookmarks"></i> FOOL'S FATE</a>
                        </div>
                    </details>

                    <details class="tree-nav__item is-expandable">
                        <summary class="tree-nav__item-title">The Fitz and the Fool Trilogy</summary>
                        <div class="tree-nav__item">
                            <a class="tree-nav__item-title"><i class="icon ion-ios-bookmarks"></i> FOOL'S ASSASSIN</a>
                            <a class="tree-nav__item-title"><i class="icon ion-ios-book"></i> FOOL'S QUEST</a>
                            <a class="tree-nav__item-title"><i class="icon ion-android-bookmark"></i> Assassin's Fate</a>
                        </div>
                    </details>


                </details>
            </details>

            <details class="tree-nav__item is-expandable">
                <summary class="tree-nav__item-title">The Soldier Son trilogy</summary>
                <div class="tree-nav__item">
                    <a class="tree-nav__item-title"><i class="icon ion-edit"></i> SHAMAN'S CROSSING</a>
                    <a class="tree-nav__item-title"><i class="icon ion-paperclip"></i> FOREST MAGE</a>
                </div>
            </details>

        </nav>*@




    <br />
    <br />
    <div>
        <h2>Контактная информация для клиентов</h2>
    </div>
    <br />
    <div>
        <div class="contacts-div">
            <p class="contacts-zag">Иван Иванов Иванович</p>
            <div>
                <p>Товарищ траляля</p>
                <p>Телефон: +79186297173</p>
                <p>E-Mail: OGR@ncsp.com</p>
            </div>
        </div>
        <div class="contacts-div">
            <p class="contacts-zag">Елена Дмитриева Николаевна</p>
            <div>
                <p>Товарищ траляля</p>
                <p>Телефон: +79886295604</p>
                <p>E-Mail: OGR@ncsp.com</p>
            </div>
        </div>
        <div class="contacts-div">
            <p class="contacts-zag">Олег Денисов Андреевич</p>
            <div>
                <p>Товарищ траляля</p>
                <p>Телефон: +79179297004</p>
                <p>E-Mail: OGR@ncsp.com</p>
            </div>
        </div>
    </div>

    @*<div class='outer'>
        <div class='box'>
            <h1>The title 1</h1>
            <p>
                Some text here...
            </p>
        </div>
        <div class='box'>
            <h1>The title 2</h1>
            <p>
                Some different text here...
            </p>
        </div>
        <div class='box'>
            <h1>The title 3</h1>
            <p>
                Some longer text here. Danish croissant. Powder halvah. Tootsie roll topping tiramisu jelly-o fruitcake cheesecake marzipan.
            </p>
        </div></div>*@




</nav>
