/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*Таблица заявок*/
.scroll-table-body {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.scroll-table table {
    width: 100%;
    table-layout: fixed;
    border: none;
}

.scroll-table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #d8d8d8;
    font-size: 14px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.scroll-table tbody td {
    text-align: left;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}

.scroll-table tbody tr:nth-child(even) {
    background: #f3f3f3;
}

.create-request-button {
    color: white;
    background-color: #4CAF50;
    border: none;
    padding: 15px 15px;
    margin: 2% 0% 2% 0%;
}

.delete-request-buttontable {
    padding: unset;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    height: 40px;
    width: 40px;
}

/*Multi-select*/
.control-fluid, .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

.control-content .control-section {
    border-width: 0px !important;
}

.control-section .control-wrapper {
    width: 80%;
    margin: 0 auto;
    min-width: 185px;
}

.e-bigger .control-section .control-wrapper {
    width: 100%;
}

.property-section .right-side {
    padding-left: 10px;
}

.property-section .left-side {
    padding: 5px;
    width: 25%
}

.control-styles {
    padding-top: 30px
}

.scroll-tablus {
    height: 100px;
    overflow-x: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

summary {
    display: block;
    cursor: pointer;
    outline: 0;
}

    summary::-webkit-details-marker {
        display: none;
    }


.tree-nav__item {
    display: block;
    white-space: nowrap;
    color: black;
    position: relative;
}

    .tree-nav__item.is-expandable::before {
        border-left: 1px solid #333;
        content: "";
        height: 100%;
        left: 0.8rem;
        position: absolute;
        top: 2.4rem;
        height: calc(100% - 2.4rem);
    }

    .tree-nav__item .tree-nav__item {
        margin-left: 2.4rem;
    }

    .tree-nav__item.is-expandable[open] > .tree-nav__item-title::before {
        font-family: "ionicons";
        transform: rotate(90deg);
    }

    .tree-nav__item.is-expandable > .tree-nav__item-title {
        padding-left: 2.4rem;
    }

        .tree-nav__item.is-expandable > .tree-nav__item-title::before {
            position: absolute;
            will-change: transform;
            transition: transform 300ms ease;
            font-family: "ionicons";
            color: gray;
            font-size: 1.1rem;
            content: "\f125";
            left: 0;
            display: inline-block;
            width: 1.6rem;
            text-align: center;
        }

.tree-nav__item-title {
    cursor: pointer;
    display: block;
    outline: 0;
    color: black;
    font-size: 1.9rem;
    line-height: 3.2rem;
    font-weight: 600;
}

    .tree-nav__item-title .icon {
        display: inline;
        padding-left: 1.6rem;
        margin-right: 0.8rem;
        color: #666;
        font-size: 1.4rem;
        position: relative;
    }

        .tree-nav__item-title .icon::before {
            top: 0;
            position: absolute;
            left: 0;
            display: inline-block;
            width: 1.6rem;
            text-align: center;
        }

    .tree-nav__item-title::-webkit-details-marker {
        display: none;
    }

.tar {
    color:black;
}

.tar:hover{
    color:lightgray;
    text-decoration:none;
    background-color:dimgrey;
}
.contacts-div::before {
    content: '';
    background-color: #2e6075;
    /*color: #2e6075;*/
    height: 2px;
    display: block;
}
.contacts-zag {
    font-weight: bold;
    padding-bottom: 5px;
    padding-top:5px;
}
.contacts-main {
    height: 500px;
    overflow: auto;
    background: #fc8;
    /* Added CSS */
    display: flex;
    flex-flow: column wrap;
}


.outer {
    height: 800px;
    overflow: auto;
    background: #fc8;
    /* Added CSS */
    display: flex;
    flex-flow: column wrap;
}

h1 {
    font-size: 18px;
    margin: 1px 0px 3px 0px;
    color: #248;
}

p {
    font-size: 13px;
    margin: 2px 0px;
}

.box {
    /*background: #def;*/
    border: none;
    background-color: #2e6075;
    /*color: #2e6075;*/
    height: 2px;
    padding: 3px 6px;
    /*border: 2px solid #369;*/
    margin: 3px 6px;
    vertical-align: top;
    width: 250px;
}

.layout-back {
    background-color: #36648f;
}
.layout-text{
    color:white;
}
.layout-text:hover {
    color: lightslategray;
}

.portal-exit{
    margin-left: 35px;
}


/*таблица*/
.button-marg{
    margin-bottom:10px;
}